<app-default-login-layout
title="Login into your account"
primaryBtnText="Login"
secondaryBtnText="Sign up"
>
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      label="Email"
      placeholder="Enter your email"
      type="email"
    >
      <img src="/assets/svg/email-icon.svg" alt="email-icon">
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      label="Password"
      placeholder="Enter your password"
      type="password"
    >
      <img src="/assets/svg/password-icon.svg" alt="password-icon">
    </app-primary-input>
    <span>Forgot password?</span>
  </form>
</app-default-login-layout>
